@charset "UTF-8";

body{
	width: 90%;
	margin: 0 auto;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.table th, .table td {
	padding: 6px;
	text-align: center;
	border: 2px solid #000;
}

.table th {
	background-color: #6699FF;
}
