<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>案件登録確認</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/check.css}"></link>
<meta charset="UTF-8" />
</head>
<body>
	<h1>製造部売上管理システム：案件登録</h1>
     <table class="aaddtable">
			<tr>
			<!-- ステータスあり -->
			<th:block th:each="statusA : ${nameAll}" th:if="${statusA.clientname}">
				<th align="right">顧客＊：</th>
				<td th:text="${statusA.clientname}"></td>
				</th:block>
			<!-- ステータス無し -->
			<th:block th:each="client : ${clientAll}" th:if="${client.clientname}">
			    <th align="right">顧客＊：</th>
				<td th:text="${client.clientname}"></td>
				</th:block>
			</tr>
			<tr><th align="right">受注日：</th><td th:text="${uriageForm.orderdate}"></td></tr>
			<tr><th align="right">S番号：</th><td th:text="${uriageForm.snumber != null && uriageForm.snumber != ''}? 'S-' + ${uriageForm.snumber} : ''"></td></tr>
            <tr><th align="right">件名＊：</th><td th:text="${uriageForm.subject}"></td></tr>
            <tr><th align="right">数量：</th><td th:text="${uriageForm.quantity}"></td></tr>
            <tr><th align="right">納入指定日：</th><td th:text="${uriageForm.deadline}"></td></tr>
            <tr><th align="right">納入日：</th><td th:text="${uriageForm.duedate}"></td></tr>
            <tr><th align="right">請求日：</th><td th:text="${uriageForm.billingdate}"></td></tr>
            <tr><th align="right">見積金額：</th><td>[[${uriageForm.estimate != null && uriageForm.estimate != ''}? '&yen' + ${#numbers.formatInteger(uriageForm.estimate, 3, 'COMMA')} : '']]</td></tr>
            <tr><th align="right">受注金額：</th><td>[[${uriageForm.decision != null && uriageForm.decision != ''}? '&yen' + ${#numbers.formatInteger(uriageForm.decision, 3, 'COMMA')} : '']]</td></tr>
            <tr>
            <!-- ステータスあり -->
            <th:block th:each="statusA : ${nameAll}" th:if="${statusA.statusname != ''}">
            <th align="right">ステータス：</th>
            <td th:text="${statusA.statusname}"></td>
            </th:block>
            <!-- ステータス無し -->
            <th:block th:each="statusA : ${nameAll}" th:if="${statusA.statusname == ''}">
            <th align="right">ステータス：</th>
            <td></td>
            </th:block>
            </tr>
            <tr><th align="right" valign="top">備考：</th><td th:text="${uriageForm.note}"></td></tr>
		</table>
	<form th:action="@{/create}" th:object="${insert}" method="post">
		<input type="hidden" name="clientid" th:value="${uriageForm.clientid}">
		<input type="hidden" name="orderdate" th:value="${#strings.replace(uriageForm.orderdate, '/', '')}">
		<input type="hidden" name="snumber" th:value="${uriageForm.snumber}">
		<input type="hidden" name="subject" th:value="${uriageForm.subject}">
		<input type="hidden" name="quantity" th:value="${uriageForm.quantity}">
		<input type="hidden" name="deadline" th:value="${#strings.replace(uriageForm.deadline, '/', '')}">
		<input type="hidden" name="duedate" th:value="${#strings.replace(uriageForm.duedate, '/', '')}">
		<input type="hidden" name="billingdate" th:value="${#strings.replace(uriageForm.billingdate, '/', '')}">
		<input type="hidden" name="estimate" th:value="${uriageForm.estimate}">
		<input type="hidden" name="decision" th:value="${uriageForm.decision}">
		<input type="hidden" name="statusid" th:value="${uriageForm.statusid}">
		<input type="hidden" name="note" th:value="${uriageForm.note}">
		<input type="hidden" name="delete_flg" th:value="0">
		<div class="btn2">
			<input type="submit" value="登録" class="btn"> <input
				th:formaction="@{/back}" type="submit" value="戻る" class="btn">
		</div>
		</form>
</body>
</html>